[2019-05-13 10:12] vectorderivative opened #1 "Aborted stubbed request"
I have a request in my application that it is correctly being writen to its mockup but after running the test it always gets aborted.

Here is an example of the mocked call
[code]
Everything looks ok, but I don't know why the XHR stub gets aborted. Any ideas?

[2019-05-21 15:44] Nanciee commented on #1
@vectorderivative Could you send over the error that you are getting?

[2019-06-13 14:58] TrebuhD opened #3 "Mocks are recorded, but calls are not being stubbed."
Awesome plugin, unfortunately I ran into an issue with it.

I have an `onboarding.spec.js` file in which I call `autoRecord(__filename);`. The mocks from that file get recorded into `mocks/onboarding.spec.js` successfully:

mocks/onboarding.spec.js:
[code]

Unfortunately, later on when I run the tests, it calls the API normally instead of using the stub.

My `cypress.json` is empty (`{}`).

I woul

[2019-06-16 22:16] Nanciee commented on #3
@TrebuhD
Could you send over what you have in `onboarding.spec.js`?
Also wanted to confirm that you haven't changed the test name and it is still `Clicks the fill in code button`?

[2019-06-24 11:48] TrebuhD commented on #3
Hi @Nanciee , thanks for responding. Apologies for the late reply. Here's my `onboarding.spec.js`:

[code]

[2019-06-24 11:57] TrebuhD commented on #3
By the way, I'm using axios to make the requests. I figured that shouldn't be a factor, since axios uses xmlhttprequest under the hood, but just putting it out there.

[2019-06-24 12:08] TrebuhD commented on #3
I got it to work. The problem was, if the last line in my test was triggering a request asynchronously (like clicking a button), the request itself was being recognised as part of the next test.

Solution: I had to add `cy.wait(100)` at the end of the problematic tests. Solved! Thanks for your help @Nanciee, amazing plugin.

[2019-06-24 17:32] Nanciee commented on #3
Glad you found a fix!

[2019-06-24 17:32] #3 closed, assigned to nobody

[2019-06-28 13:04] chaosmirage opened #4 "Wait route"
Hello. I have a problem.

In my test I want to describe sequence of commands, where each command should wait response from mock and go to next command.

How can I do this with this plugin?

Now when I try use use:

[code]
this plugin stops to mock this request

[2019-07-03 22:22] bautistaaa opened #5 "Uncaught CypressError"
Hello! First off thanks for the tool!

I am encountering an error after the initial recording(see image below). I will try to see if I can prevent this somehow and make a PR but maybe you know something off the top of your head!

Here is my test code:

[code]
## Versions
[code]

## Error
![image](https://user-images.githubusercontent.com/3660667/60628320-cc0bc980-9da5-11e9-897e-c23961463321.png)

[2019-07-05 02:21] Nanciee commented on #4
Hi @chaosmirage

It is the default behaviour of Cypress that if you don't pass in a response on a route that it would pass the route through without stubbing. You can read more about it here: https://docs.cypress.io/api/commands/route.html#Without-Stubbing

Let me look into this on my end to see if theres any hacks around it but for now, your best bet is to use a `cy.wait(time)`.

[2019-07-05 03:16] Nanciee commented on #5
@bautistaaa this is unfortunately an expected behaviour. You should only ever see this error when you have a test that calls the same url but expect different response bodies based on different request bodies. **This shouldn't be effecting your mocks or tests in any way, though please let me know if it is!** Although everything should be working, there's no way I could remove the error that Cypres

[2019-07-05 11:57] chaosmirage commented on #4
I tried to implement a similar solution in your library:
https://github.com/Cloudo/cy-auto-stub/blob/master/src/commands.js

But my attempt was unsuccessful.

Perhaps this example will inspire you.

Thank you for this tool!

[2019-07-05 17:21] bautistaaa commented on #5
Great explanation.. super confusing indeed. I'll continue to play around with it although it does skip any test after the point the error occurs. I'll go ahead and close and see if I can help in any way!

[2019-07-05 20:34] bautistaaa commented on #5
one last qq(sorry): My responses are always empty objects, is that intended?
[code]

looks like the `response.response.body` is of type Blob when I log it
![image](https://user-images.githubusercontent.com/3660667/60745941-546aa580-9f31-11e9-963f-16b1eadfb2b4.png)

any idea how to get the actual response?

[2019-07-11 18:10] dummyaccct opened #6 "index.json empty object, not being recorded"
Followed the steps to set up auto-record, but even with the cypress example tests, the index.json file remains empty. I see the task to read and write file, but all that gets written to index.json is: `{}`
I included `const autoRecord = require('cypress-autorecord');` at the top of my test file, and autoRecord(__filename); just inside the context/describe function, and made sure the describe/conte

[2019-07-11 21:31] Nanciee commented on #5
Ahh interesting, let me look into this and get back to you!

[2019-07-11 21:35] Nanciee commented on #6
That's a good suggestion and I'll be updating this repo with an example app with the setup. From what you wrote, it sounds like the setup was down correctly. What does your tests look like?

[2019-07-11 23:29] bautistaaa commented on #5
i anticipate its cause im using fetch and I dont delete `win.fetch` until after your stuff runs in my own `beforeEach`? will keep ya posted

[2019-07-12 12:17] dummyaccct commented on #6
I tried it with window.spec.js from the cypress examples
So the file looks like:
[code]

I guess technically all the requests are non-xhr requests. Does auto record only work with xhr requests? Even if that's the case, my actual app has many xhr requests but is still writing nothing but an empty object to the index.json file

Also what is the __filename supposed to be? Logged mine and it is set to

[2019-07-13 01:28] Nanciee commented on #6
Yes, auto record only works for xhr requests because it uses Cypress' built in stubbing mechanism `cy.route`. You can find more information about that here: https://docs.cypress.io/api/commands/route.html#Syntax. Cypress-autorecord records requests per test, which means that if the test you've written has no xhr requests, nothing will be recorded. I'm not sure if that is the case for you! Do you s

[2019-07-13 01:47] Nanciee commented on #5
I did my own test to see the behaviour for the CypressError you are encountering and it looks like it is behaving as expected. Although you do see the error, the tests afterwards are not skipped and it has no other effects on the tests or recordings. This is what it looked like for me:

![Screen Shot 2019-07-12 at 9 44 58 PM](https://user-images.githubusercontent.com/16739604/61165421-54991100-a4e

[2019-07-13 02:50] Nanciee commented on #5
As for you second question, it looks like Cypress has some issues with `window.fetch` and stubbing: https://docs.cypress.io/guides/references/known-issues.html#window-fetch-routing-and-stubbing

When I tried it in my test app, the fetch requests are not showing up in Cypress and not being recorded. Are you doing anything to get it to work? If you can help me reproduce the empty response error, I w

[2019-07-13 03:00] bautistaaa commented on #5
@Nanciee yep if you look at my original post you'll see this after the record command

[code]

This will cause the browser to default to XHR!
Would you mind sharing your test code? curious whats causing mine to fail!

I do have a custom command to log me in programmatically via a http so maybe thats it. I've been sidetracked a bit =*( but I plan to jump back into this and see if I can contribute i

[2019-07-13 03:23] Nanciee commented on #5
this is what my test looks like:

[code]

I don't have anything else in the beforeEach!

As for the blob bug, I'll open a separate bug to deal with all other responseType that isn't JSON. Really appreciate you posting the problem!

[2019-07-13 03:27] Nanciee opened #7 "HTTP response is not recorded when the responseType is not JSON"
one last qq(sorry): My responses are always empty objects, is that intended?
[code]

looks like the `response.response.body` is of type Blob when I log it
![image](https://user-images.githubusercontent.com/3660667/60745941-546aa580-9f31-11e9-963f-16b1eadfb2b4.png)

any idea how to get the actual response?

_Originally posted by @bautistaaa in https://github.com/Nanciee/cypress-autorecord/issues/5#

[2019-07-14 11:00] joenguyenalogent opened #8 "..."
...

[2019-07-14 11:03] #8 closed, assigned to nobody

[2019-07-14 11:05] chauey opened #9 "Does this handle multiple calls to the same url/method with different responses in the right order?"
How best to record and play back in order, multiple calls to the same url/method?

Also, how does this project relate/compare to and I wonder if any can handle the above.

From my testing, if called url/method called 3 times, it records 3 records, but only returns the last one 3 times during playback.

1. https://github.com/scottschafer/cypressautomocker (also seemed to have problem with multiple

[2019-07-14 13:30] Nanciee commented on #9
This is automatically taken care of by this plugin! I commented about it in detail in issue #5. It records each call separately and should return them in the correct order it was initially recorded in. In the issue I mentioned above, I tested this out by hitting the same login api twice, first time with false credentials and second time with real credentials.

This is what my passing test looked l

[2019-07-15 12:14] dummyaccct commented on #6
There are definitely XHR requests being sent out, but still nothing being saved to the mock file unfortunately.
I tested on the cypress 'network_requests.spec.js' file and the xhr requests were saved to the mock, but not on my actual app.

[2019-07-15 15:20] chauey commented on #9
Would it still work if they were GETs instead of POSTs? The 3 calls I have are GETs, and it returns the 3rd one for all 3 calls. I don't have anything to send right this moment. thanks!

UPDATE: it works for my 2 POST login call when I fail and the successfully sign in. So wondering still if it's related to the GET method...

[2019-07-15 16:09] chauey commented on #9
Is it because line 100 checks for request.body value before pushing into sortedRoutes[request.url]?

https://github.com/Nanciee/cypress-autorecord/blob/906d2ec8aedcab1cca8cbeacb37d319352f40ba9/index.js#L100

[2019-07-15 17:09] chauey opened #10 "Once recorded, how best to update values each time before running at test?"
For example, we want to update a date value to today, or the expiration time 20 minutes into the future, what is the best way to do this? Thanks!

[2019-07-18 17:10] chauey opened #11 "Can/should we also add the method PATCH along with GET, POST, PUT, & DELETE?"
I noticed PATCH was missing, easy to add?

[2019-07-20 14:16] chauey commented on #11
I added in this commit https://github.com/Nanciee/cypress-autorecord/commit/9e71d179028eb53a7f2d30fc574ea0e906ad6187

[2019-07-20 14:16] #11 closed, assigned to nobody

[2019-07-20 23:37] Nanciee commented on #6
Could you confirm if you are seeing them being logged when you run your test? How are you making those requests?

[2019-07-20 23:46] Nanciee commented on #10
Hmm, I'm not really understanding what you are trying to accomplish in this case. What are you expecting from the change in date value? Is your api call going to be dependent on it or is this just an UI change. Regardless, it is best if you keep the date consistent! If you are trying to test for something that will vary based on changing variables at the time of running the test, it might make sen

[2019-07-21 01:00] Nanciee commented on #9
Thanks for contributing!! I published the changes in in v1.0.13, could you double check that this fixes your issue before I close this bug off?

[2019-07-21 01:03] Nanciee commented on #5
Some changes were published recently that could have fixed the empty response issue you posted about earlier! Could you test this out on v1.0.13?

[2019-07-21 15:05] bautistaaa commented on #5
no dice! also still seeing the issue where it completely kill the test suite

[code]

my beforeEach only has this
[code]

however, I am about to swap fetch with axios so that should resolve this I think, will let you know

[2019-07-21 15:21] chauey commented on #9
I am traveling for the next couple of weeks. No access to test currently. FYI

[2019-07-21 15:28] Nanciee commented on #5
Hmm I'm also curious what your custom `cy. dataQa` is doing. If it's calling a `cy.route` in there, that would cause some problems with stubbing

[2019-07-21 15:34] Nanciee commented on #9
no problem! I'll close this for now and will reopen if you still see an issue!

[2019-07-21 15:34] #9 closed, assigned to nobody

[2019-07-21 15:35] bautistaaa commented on #5
update: moving everything away from fetch fixed the recording issue.

heres the full stack trace of the error I get running the test AFTER the initial record

[code]

FULL TEST
[code]

[code]

no references to route on my end I believe

[2019-07-21 15:42] bautistaaa commented on #5
actually looks like it hates my `cy.visit` in my own `beforeEach` according to the error

[2019-07-22 03:40] bautistaaa commented on #5
Looks like it comes down to when a single endpoint is hit multiple times.

`size-preferences` is just a GET request that gets triggered twice(legacy code not sure why its triggered twice)
`graphql` is two POST request with two different bodies which are graphql queries stringified.

![image](https://user-images.githubusercontent.com/3660667/61604710-75045200-abf7-11e9-8e35-d57cfc05a98e.png)

This

[2019-07-22 04:22] Nanciee commented on #5
This seems to be the same issue mentioned in #9! I published another change (v1.1.0) a few minutes ago which is meant to address this. Everything looks good when I tested it out but would love to hear if it fixes your issue!

[2019-07-22 04:59] bautistaaa commented on #5
no dice, still errors when two request exist with the same signature in the recording(deleting one will get past it seems at the moment)

It doesn't like my graphql requests since I am sending a stringified graphql query. It will always return whichever shows up first in the list it seems.

I'll see if I can resolve this and make a PR asap cause its a blocker for me atm!

e.g:
[code]
[code]

[2019-07-22 18:16] bautistaaa commented on #5
PR for duplicate recording https://github.com/Nanciee/cypress-autorecord/pull/15

[2019-07-23 01:38] Nanciee commented on #5
Thanks!! Are you still having issues with the POST requests? I'm having a really hard time reproducing both of these issues you are having. It shouldn't matter what you are sending in the body since it will mock back the response in order that they were called.

Are your graphql requests happening at around the same time? I'm wondering if this is timing related. Since I change the response body in

[2019-07-23 02:40] Nanciee commented on #5
I made a publish for v1.1.1@beta to get you to test out the changes! Let me know if it fixes your issue and I will make a full release.

[2019-07-23 16:23] bautistaaa commented on #5
Oh let me clarify, when I have duplicate GET requests with the same shape I will get the error screenshotted. My POST requests it also seems to hate
[code]
[code]
![image](https://user-images.githubusercontent.com/3660667/61729159-80f13080-ad2b-11e9-81f2-9828a235ccc6.png)

I'll keep you posted if I ever find a solution but just seems to be a cypress problem stubbing requests with same URL which is

[2019-07-23 16:39] bautistaaa commented on #5
Yep it works! Have it linked locally as well so I am able to test that way too!

[2019-07-26 19:07] dummyaccct commented on #6
On my actual app the requests are not being logged at all, even though there are XHR requests going out in the chrome network tab (you can filter by XHR, and even with the filter there are plenty of requests, none of them are logged).
The XHR requests are through JQuery I believe

[2019-07-28 21:31] nicolasiensen commented on #5
Same problem here, the library is unable to record the body or the response of the requests.

I tried the beta version (1.1.1) and it didn't help.

I'm using `fetch` to perform API calls, however, I'm deleting it [like suggested](https://github.com/cypress-io/cypress-example-recipes/tree/master/examples/stubbing-spying__window-fetch#delete-on-every-window-load) by the Cypress team, so the requests

[2019-07-29 13:56] dummyaccct commented on #6
Tested again today with your updated version, mock file is still empty :'(

[2019-07-29 18:21] chauey opened #16 "did something change about how the files are written/read?"
how to migrate if so, thx

UPDATE: i do see some commits in past 8 days around this...

[2019-07-29 23:46] Nanciee commented on #16
You no longer need to pass in the `__filename` into `autorecord()`. This shouldn't be a breaking change as it is now extracting the same information about the filename through the built in `Cypress.spec.name`. This is the PR with the changes: https://github.com/Nanciee/cypress-autorecord/pull/14

If this isnt working for you, please send over the issue you are seeing! 😊

[2019-07-30 00:17] chauey commented on #16
May be related to using Nx. It used to use path like:
'apps/project-name/cypress/mocks/file-name.json'.

Now it tries to use:
'dist/out-tsc/apps/project-name/src/mocks/folder-name\file-name.json'

1. different root, 2. has child folder name, and 3. the last slash is a back-slash (using Windows)

It says contains invalid WIN32 path characters, I think related to the escaping in 3, which is part of

[2019-07-30 10:44] chauey commented on #16
Updating to latest angular Nx workspace (with relative paths in cypress.json) seems to work better, but still testing/investigating...

[2019-08-01 12:17] Nanciee commented on #16
Going to close this for now! Please reopen if you see any issues

[2019-08-01 12:17] #16 closed, assigned to nobody

[2019-08-01 12:20] Nanciee commented on #6
I'm going to take some time to look into it this weekend! Will keep you updated.

[2019-08-02 19:05] bautistaaa opened #19 "When running all specs mocks dont load"
Looks to be a limitation of cypress. When all specs button is clicked it changes `Cypress.spec.name` becomes `All specs` This causes the plugin to simply create a new file called `All specs` and ignores all specs recorded.

See github issue here https://github.com/cypress-io/cypress/issues/3090

NOTE: running all specs without UI is fine. Just adding this issue here in case others encounter!

[2019-10-10 00:52] hkarambizi commented on #16
@Nanciee
I am having an issue where after I do initial config and test to see if it works, it appears that it is not writing to the appropriate directory but rather it is writing to:

**${rootDirectory}/${AbsoluteFilePath}**

I tried to debug with console.log to see what is happening, but when I replicate the code, it appears to log the correct filepath.

Here is my config in **plugins/index.js**:

[2019-10-10 18:38] hkarambizi commented on #16
Welp. It looks like it had an issue with my cypress version. I was running 3.2.0

`
npm install --save-dev cypress@3.4.1
`

did the trick!

[2019-10-14 15:36] hkarambizi commented on #5
![Screenshot 2019-10-14 11 33 42](https://user-images.githubusercontent.com/22929885/66763840-8ff10600-ee76-11e9-8e42-60498e3bb797.png)

I also may be having the same issue. It fails as soon as it hits a point in which two multiple requests (that return the same payload) occur back to back.

However, this is also occurring in my beforeEach. I'd like to try the v1.1.1@beta to see if that helps.

Ho

[2019-10-14 15:41] bautistaaa commented on #5
If the url's are the exact same you will need to come up with a way to make those url's unique when stubbing.

[2019-10-14 15:45] hkarambizi commented on #5
This specific request appears to be triggered by legacy code / duplication. This is fired when the login page is loaded. It isn't a request I am making in my test code. Is there a way to handle this or even skip duplicates?

[2019-10-14 15:51] bautistaaa commented on #5
We currently have a wrapper around our api calls that allows us to append a querystring in the context of `cypress`. you may want to look into doing something similar.

[2019-10-14 15:55] hkarambizi commented on #5
Ok gotcha! Do you have an example of this implementation I can take a look at? Trying to wrap my head around it.

[2019-10-14 15:56] bautistaaa commented on #5
at its most basic form it will look something like this

[code]

[2019-10-28 11:14] vpultoo opened #21 "Syntax error since 1.1, not occurring in 1.0"
![image](https://user-images.githubusercontent.com/25615615/67674099-ee8ca880-f97b-11e9-996b-0e42bfe8237e.png)

Cypress: 3.2.0
Node version: 12.8.1
Environment: Windows 10 Enterprise version 1803

[2019-11-01 14:38] gtamas opened #22 "Some XHRs are not processed properly"
I have this config:

[code]

If I set forceRecord to true, seemingly everything works fine. However, a few XHRs somehow don't get saved. When ***foreRecord is true***, those XHRs return 200 normally, they have normal response body etc. There is no error. But the plugin won't add their results to the mock file.

There are only 2-3 such problematic queries. When ***forceRecord is false***, these all

[2019-11-01 14:50] gtamas commented on #22
Maybe it's some sort of timeout issue. But the timeouts are already pretty long. Any suggestions on what other settings should I try to tweak?

@Nanciee
The plugin should record all XHRs right? My requests are all normal AJAX requests initiated by Angular. How is it possible that some of them are not saved in the mock data?

[2019-11-01 19:29] gtamas commented on #22
@Nanciee

Update: I tried to run my tests again with autoRecord=true, and this time it managed to record  all requests for some reason.
However, running another recording session later has failed again.

So it seems it misses some of the XHRs because it doesn't wait for them. Please help! :)

[2019-11-05 11:16] gtamas opened #23 "removeAllMocks clears all fixtures!"
The task deletes ALL fixtures, including those created by some other plugin or the user. It should delete only the files it created while recording.

[2019-11-28 06:11] manphannvg commented on #7
Comment because I care for this issue. I also got the same problem

[2019-12-10 21:26] scottbarrow opened #25 "support graphql endpoint mocking"
I see that route endpoint blacklisting is possible using the `blacklistRoutes` config option, however when making requests to a graphql endpoint all routes are `hostname:port/graphql`.
It would be great if autorecord supported blacklisting of graphql's `operationName` found in the request body, which determines the graphql query/endpoint being requested.

Is it possible to achieve this some other

[2019-12-12 18:28] bautistaaa commented on #25
we currently append operationName to the url itself in the context of cypress. not the greatest solution but it doesn't require any code changes in this repo

[2019-12-12 18:29] scottbarrow commented on #25
Thanks, I actually got VCR working for my use(recording external API calls) and hook into it using cypress-on-rails with an app command. Which is better as I didn't really want to mock out the whole graphql call

[2019-12-12 18:29] #25 closed, assigned to nobody

[2019-12-17 02:45] steven-holloway opened #26 "Why do arrow functions not work."
This is not a good enough.
"NOTE: Do not use ES6 arrow functions for your describe or it callback. This will cause the recording function to break."
Do you have any idea why?

[2019-12-17 14:51] cellog opened #27 "add facility to define a regex URL"
I have an app that sends requests like `/sockjs-node/info?t=1576593976873` where the number at the end changes with every request. However, I want the server to return the same value every time.

Because this value changes with every test run, static mocking does not work. Adding a facility that allows specifying an alias regex, something along the lines of

[code]

would be great. The auto-record

[2019-12-17 15:25] cellog commented on #26
because the code uses `this.currentTest`. However, this can be fixed by listening for Cypress's `test:before:run` event and setting a global variable in `index.js`

[code]

Then, all references to `this.currentTest.title` can simply be replaced with `currentTest`

[2019-12-17 16:20] cellog commented on #27
This may be obsoleted by: #24 as the setting of Cypress's clock to the exact moment the test was recorded solves this specific problem for me

[2020-04-20 12:49] muratkeremozcan opened #32 "need a way to record custom Http verbs"
i.e. only record GET requests.

How can this be an issue? Suppose you use percy.io for visual testing, and percy sends a POST to the cloud when taking screenshots. You do not want to stub these post requests.

[2020-06-22 16:02] lcnandre commented on #22
@gtamas @Nanciee  Any progress on this? We have the same issue here. Angular 8 app:
- Requests made through `new XMLHttpRequest()` works fine
- Requests made through Angular's `HttpClient` logs on Cypress runner, records as 200 on mockfile, but without body data.

Analysing both calls, we have these differences on requests headers:
![image](https://user-images.githubusercontent.com/776261/85307871

[2020-06-22 19:54] lcnandre commented on #7
Just created PR #33 to solve this. Please take a look at the PR comments.

[2020-09-13 07:38] Visit2Israel opened #34 "autoRecord API is incompatible with cypress 5.x"
When trying to run the plugin on v5.x, this error is thrown:

[code]

![image](https://user-images.githubusercontent.com/67964886/93013001-5c01f180-f5ad-11ea-9015-47fd3c1a8577.png)

[2020-09-19 00:24] #34 closed, assigned to nobody

[2020-09-19 01:36] Nanciee commented on #7
Resolved in [#33 ] has been merged, closing this issue

[2020-09-19 01:36] #7 closed, assigned to nobody

[2020-09-19 01:39] #5 closed, assigned to nobody

[2020-09-19 01:41] #22 closed, assigned to nobody

[2020-09-19 01:42] #27 closed, assigned to nobody

[2020-12-09 11:30] PascalvdHoek opened #36 "Cypress 6 support?"
Are there any plans soon to support cypress 6?

[2020-12-09 15:00] Nanciee commented on #36
@PascalvdHoek Are there any particular issues you are seeing with Cypress v6?

[2020-12-10 09:49] PascalvdHoek commented on #36
The issue is that the cy.route and cy.server are deprecated in cypress 6 and are replaced with cy.intercept

[2020-12-12 05:07] Nanciee commented on #36
Yes, it looks like they will be removed in the next major release. Until then, they should continue to work as normal. I'll be working on an update in anticipation for the next release. Closing this since there doesn't appear to be any breaking changes that will cause issues in Cypress 6. If you are seeing specific issues, please open another issue with the error message you are seeing!

[2020-12-12 05:07] #36 closed, assigned to nobody

[2021-01-06 10:35] marienvo opened #40 "Fetch() defaults to 'get' as method (instead of 'GET')"
In our project the browsers `fetch()` function seems to default the request method to `get` (instead of uppercase `GET`); and since the `supportedMethods` array is all uppercase, this breaks our tests when running with the recorded mocks.

Recording is fine though, but the JSON is incompatible (or lowercase `get` needs to be added to supportedMethods):

![Screenshot from 2021-01-06 11-32-01](https

[2021-01-07 04:36] Nanciee commented on #40
Thanks for raising this! I'll add in a quick fix this for this. Was this only limited to 'get' or would other request types need to be added as well?

[2021-01-14 06:09] #40 closed, assigned to nobody

[2021-01-25 16:27] marienvo commented on #40
Thanks! Only the lowercase 'get' gave issues for us, no other request types as far as we've experienced.

[2021-02-03 02:09] ha404 opened #41 "`cy.clock` makes my spec hang"
For some reason this line that establishes `cy.clock` makes my spec hang.

I'll attempt to `cy.visit` a route and never resolve. Network requests seem to never occur, it's like I'm frozen in time.

https://github.com/Nanciee/cypress-autorecord/blob/3662aee3faaeb4bddb381fd616d6aa6a87701dde/index.js#L182-L186

After commenting all instances of `cy.clock` everything works fine. Any ideas?

Thanks!

[2021-02-12 13:52] aceleghin opened #42 "Include or exclude some calls"
Is it possible to record only some HTTP calls or to exclude some of them?

[2021-02-23 07:32] Boka-Rafaeli commented on #6
Recorder file is empty

cypress.json
"autorecord": {
 "forceRecord": true
}
I see my XHR friends, but file is empty
Please help
![image](https://user-images.githubusercontent.com/10194003/108813585-00a34900-75ba-11eb-98b8-1d5942685e03.png)

[2021-02-24 17:44] Boka-Rafaeli commented on #6
Also all recorded request do not save headers !

![image](https://user-images.githubusercontent.com/10194003/109042210-959c6400-76d8-11eb-9983-15c16e645945.png)

[2021-03-02 15:30] Nanciee commented on #6
@Benyamin-Rafaeli Could you provide a bit more detail on the http you are making?

[2021-03-02 15:31] Nanciee commented on #41
Let me take a look into this

[2021-03-02 15:33] Nanciee commented on #42
This isn't possible at the moment but would be a good feature enhancement

[2021-03-04 17:50] ha404 opened #43 "suggestion: scope each `it` block to it's own cypress `mocks` file"
I think it could make it easier to deal with modifying mocks scoped to the `it` block you want to modify, it could also potentially make it easier to do re-recordings if you just manually delete the mock you want re-recorded.

The only thing I'm concerned with is how do you name the mock file with something like this:

`cypress/integration/settings/billing.spec.js`:

[code]

^Generates a mock: `mo

[2021-03-22 16:30] AB1519 opened #45 "Cypress detected you registered a(n) `beforeAll` hook while a test was running (possibly a hook nested inside another hook). All hooks must be registered before a test begins executing."
Receiving this error when try to autoStub API with cypress-autorecord.

I have this in my plugin file

const cucumber = require("cypress-cucumber-preprocessor").default;
const fs = require('fs');
const autoRecord = require('cypress-autorecord/plugin');

module.exports = (on,config) => {

  on("file:preprocessor", cucumber());
  autoRecord(on, config, fs);
};

And in my test.js

Before(function(){

[2021-03-22 18:18] AB1519 commented on #45
Got it resolved! thanks1

[2021-03-22 18:18] #45 closed, assigned to nobody

[2021-03-22 18:24] AB1519 commented on #1
Any update on this one. I am facing a similar issue, where I have the right requests loaded in my browser but I am getting 404 while auto stubbing
<img width="1678" alt="Screen Shot 2021-03-22 at 2 21 27 PM" src="https://user-images.githubusercontent.com/32438432/112039329-510ab980-8b1a-11eb-8956-139d0a07e4ef.png">

[2021-03-25 16:57] ha404 commented on #41
@Nanciee @RobertCorey I found a way to get around this for the time being by adding this to you `beforeEach` in each of your specs:

From https://docs.cypress.io/api/commands/clock#Restore-clock:
[code]

[2021-03-25 21:15] ha404 commented on #41
I've made a PR to restore it within the plugin: https://github.com/Nanciee/cypress-autorecord/pull/46/files?w=1

[2021-04-15 17:41] ha404 commented on #43
Just kidding, I just saw this: https://github.com/Nanciee/cypress-autorecord/pull/29

[2021-04-15 17:41] #43 closed, assigned to nobody

[2021-05-05 15:58] ha404 commented on #41
🎉 Resolved: https://github.com/Nanciee/cypress-autorecord/pull/46/files?w=1

[2021-05-05 15:58] #41 closed, assigned to nobody

[2021-05-20 14:47] Ika-x opened #51 "Still sending requests to actual server without mocking it"
Cypress version 7.3.0
Autorecorder version 3.0.0

refer PR for detailed problem description and possible solution

@Nanciee  prepared fix for that - https://github.com/Nanciee/cypress-autorecord/pull/50

[2021-05-27 03:41] Nanciee commented on #42
#50 includes a new config that allows specific endpoint to be recorded

[2021-05-27 03:47] Nanciee commented on #51
This has been merged and resolved!

[2021-05-27 03:47] #51 closed, assigned to nobody

[2021-05-27 03:47] #42 closed, assigned to nobody

[2021-06-11 17:54] mrkerr opened #53 "Usage with cypress-cucumber-preprocessor?"
I've got cypress cucumber tests that I'm trying to record http interactions with. Recording with autorecord works and successfully creates the mocks and fixtures, however, when trying to re-run the tests with the recorded json I'm getting an error saying
[code]

I can't seem to figure out where this error is originating from as the stack trace is empty.
<img width="522" alt="Screen Shot 2021-06-11

[2021-06-21 20:12] DaveClissold commented on #53
@mrkerr can I ask how you got autorecord running with cucumber-preprocessor?  I'm not getting any errors but it's not recording, just wondering if you had to do anything in particular to get it working?

[2021-06-22 01:44] mrkerr commented on #53
@DaveClissold
Hey there! I actually got everything working with the recorded http interactions. I just followed the readme to set it up and then called `autoRecord()` at the top of all my step files. I think the only weird thing is that I had to specify an intercept pattern.

[2021-06-22 01:46] #53 closed, assigned to nobody

[2021-06-22 23:14] ErichSA opened #54 "FixtureId is not working with req.reply"
Cypress is not returning the fixture
index.js line 169: req.reply(response.status, newResponse, response.headers);
It's returning the fixture folder instead.
![image](https://user-images.githubusercontent.com/28894552/123011155-e291fd80-d38d-11eb-83eb-b73d4f7603c1.png)
Changing it to:
[code]
Everything works.

[2021-06-22 23:15] ErichSA commented on #54
Can I open a PR?
This is the cypress documentation:
![image](https://user-images.githubusercontent.com/28894552/123011446-66e48080-d38e-11eb-94cc-66900950a567.png)
https://docs.cypress.io/api/commands/intercept#Request-Response-Modification-with-routeHandler

[2021-06-29 10:50] ERuseckas opened #56 "interceptPattern doesn't work with regex"
Passing valid regex:
1. `interceptPattern: new RegExp(REGEX_STRING)`
2. `interceptPattern: /REGEX_STRING/`
results in interceptPattern becoming as `{}`

If I convert valid regexp into string, then it's value is used as glob, not regex.

I see here 2 possible options:
1. parse `interceptPattern` value to figure out is it regex or not
2. change plugin, so that user could pass plugin config without u

[2021-09-03 02:38] #32 closed, assigned to nobody

[2021-09-03 02:38] #54 closed, assigned to nobody

[2021-09-14 00:29] Nanciee commented on #56
resolved in v3.1.2!

[2021-09-14 00:29] #56 closed, assigned to nobody

[2021-09-22 14:08] MasterATM commented on #54
Hello,
I got the same problem as initially described despite using the latest 3.1.2 version.
The signature for res.send is different if we want to reply with either the direct response or a fixture.

If if modify the code to this, then it works:
[code]
Thanks.

[2021-09-24 06:52] MasterATM opened #59 "Abnormal response when using fixtureId"
Hello,
(I repost it in a new issue rather than the old one #54)

When autorecord stubs requests with responses of big size, it returns the path of the fixture in the response to the client (see #54) instead of the real content itself.

I am using autorecord 3.1.2  + Cypress 8.3.1.
The signature for res.send is different if we want to reply with either the direct response or a fixture.

If if modif

[2021-11-25 11:04] dani-mp commented on #26
I had the same question. It's an odd requirement and error also prone. I hope it gets fixed.

[2022-01-14 10:56] kkhaidukov commented on #59
@MasterATM would you mind to create a PR out of this? I'm experiencing the same issue, and your suggestion does indeed solve it for me locally.

[2022-01-17 11:59] kkhaidukov opened #60 "a flag to rewrite URLs"
The problem that I'm having:
* I'm recording against an integrated environment, which results in its URLs getting into the .spec.json
* on CI, however, I'm running the tests against a localhost env, so the requests are not matched, because the URLs are different

A simple solution might be to add a config option that would match a base url and substitute it with '**', but maybe someone could point

[2022-01-31 21:39] marcandre opened #62 "Cypress version 9 supported?"
Readme states "Version 3 is now compatible with Cypress 6 and 7 "...

Current version is 9.4.0, is that supported?

[2022-02-09 19:13] gus4no commented on #51
Hi, I've been trying to get this working, with no luck. Mind helping a bit?

First I thought it was because I was running Cypress 9, so I downgraded to Cypress 7.3.0  and I still see my server being hit. Mock responses are stored properly, but server always called, if I shut down my server all tests break because server is not reachable.

What I'm trying to do is run some tests with stubbed respon

[2022-05-12 02:03] Sam152 commented on #62
I am using this project with version 9 and it's working well.

[2022-05-12 04:21] Sam152 opened #66 "The upstream server is always contacted, even if a stubbed request is provided"
Here is the code that sends the stubbed responses:

[code]

The docs of .reply() are:

[code]

Since a function is provided, the actual request is made and then it's merged with the fixture. This ends up failing tests where the origin is no longer accessible, like in CI environments.

[2022-05-12 04:48] Sam152 commented on #60
I had this same problem. I've submitted a PR which is one approach for addressing it.

Edit: I ended up rolling this in as a feature of: https://github.com/Sam152/cypress-replay

[2022-06-14 18:25] selfagency opened #69 "Returns `application/json` instead of `text/html`"
For some reason when using this plugin, I get the following error in my tests:

[code]

[2022-06-22 12:20] fridjon opened #70 "Support for cypress 10"
Version 10 of cypress made substantial changes in the way plugins are used. Are there any plans to support cypress 10?

Would a pull request for that be welcome?

[2022-06-22 12:57] th2tran commented on #70
I for one would certainly welcome it. 🙂
We're starting to migrate to 10 on my team. Have you found any breaking changes?

[2022-06-22 13:33] fridjon commented on #70
@th2tran  No I only started to look at this now, after cypress 10.

[2022-07-11 11:41] RVledder commented on #69
I am facing the same issue.

My guess is that we are using cy.visit to request an html page. However, the response header's content-type is set to "application/json" where instead it should be "text/html".

I'm not sure yet why this issue is only occurring when using cypress-autorecord.

[2022-07-15 00:26] kris-luminar commented on #70
It works fine in Cypress 10. You do have to put the code in `cypress.config.js` instead of `support/` like you used to in Cypress 9. The code looks something like
[code]

[2022-07-15 00:32] kris-luminar opened #73 "blacklistRoutes doesn't appear to work"
https://github.com/Nanciee/cypress-autorecord/blob/88d9aae2e163c0e7b70cee8fe2046e5e28ec1829/index.js#L13

The above line is the only reference to `blacklistRoutes` in the codebase, which I believe means it doesn't do anything. Are there plans to implement this feature or should it be yanked out of the code and added as a desired feature in some list?

[2022-07-19 17:57] kris-luminar commented on #73
This is enough of a blocker for me that I'm no longer using this cypress-autorecord in my project.

[2022-08-09 17:57] indatawetrust commented on #70
@kris-luminar mock files are created correctly, but there are problems with their use. cy.intercept is not working correctly, request is still being sent to server. you can check via localhost backend logs

[2022-08-16 16:35] theRenard commented on #70
doesn't work for me, catches just one endpoint call of backend API out of five.

[2022-08-16 17:49] indatawetrust commented on #70
@theRenard you can change the [createStubbedRoute](https://github.com/Nanciee/cypress-autorecord/blob/master/index.js#L152) function like this and use [patch-package](https://www.npmjs.com/package/patch-package) package. this change worked correctly for me. i will be glad if you try it and post the result

[code]

[code]

[2022-08-16 23:04] theRenard commented on #70
Unfortunately it's not working, I suppose it works on your side when serving mocked data, in my case it just write an empty/partial mockup and it's also a bit random on the behavior. It seems that when there is no `interceptPattern` it saves all the requests...

cypress.config.ts
[code]

test.cy.ts
[code]

[2022-09-08 14:38] indatawetrust commented on #70
you can use intercept wait. maybe it will work https://docs.cypress.io/api/commands/intercept#Waiting-on-a-request

[2022-09-08 14:46] indatawetrust commented on #70
I have published my changes for cypress 10 support as a package. it works correctly on the project I'm working on. You can try and write if you see any problem

https://github.com/indatawetrust/cypress-autorecord
https://www.npmjs.com/package/@cond/cypress-autorecord

[2022-11-18 09:30] Sam152 commented on #70
I needed this working in Cypress 10 and also needed a handful of other bug fixes and changes, instead of patching this project I created a new one here: https://github.com/Sam152/cypress-replay

I think the architecture is hopefully a little easier to understand.